<h2 class="text-center py-4 text-light">{{title}}</h2>

<p id="informacionActual" class="text-center text-light mb-n4 pb-3" style="display: none;"></p>

<div id="otrosBotones" class="container m-auto p-3 text-center" style="display: none;">
    <div class="row m-auto px-3">
    <div id="filtrocomp" class="">
        <button id="graf2" type="button" class="btn btn-primary m-2 mx-3" onclick="filtroCompanias()">Elegir una
            compañia</button>
        <input type="number" class="form-control m-2 mx-3 " id="companyId" placeholder="3" style="width: 100px;">
    </div>
    <div id="filtrouser" class="">
        <button id="graf3" type="button" class="btn btn-primary m-2 mx-3" onclick="filtroUsuarios()">Elegir un
            usuario</button>
        <input type="number" class="form-control m-2 mx-3" id="userId" placeholder="63" style="width: 100px;">
    </div>


    <div class="w-100"></div>

    <div id="filtroSesionActiva" class="">
        <button id="graf4" type="button" class="btn btn-primary m-2 mx-3" onclick="intervalosXDia()">Por tiempo de actividad</button>
    </div>
    <div id="filtro1" class="">
        <button id="graf1" type="button" class="btn btn-primary m-2 mx-3" onclick="sesionesActivas()">Tiempo vs Sesion Activa</button>
    </div>
</div>    
</div>

<div id="chartDiv" class="card m-5 border-0" style="display: none;">
    <canvas id="myChart" class="m-4" width="400" height="400" style="display: none;"></canvas>

    <canvas id="myChartCompanyFilter" class="m-4" width="400" height="400" style="display: none;"></canvas>

    <canvas id="myChartUserFilter" class="m-4" width="400" height="400" style="display: none;"></canvas>

    <canvas id="myChartIntervaloActivoXDia" class="m-4" width="400" height="400" style="display: none;"></canvas>

</div>




<div class="m-auto">
    <p id="saludo1" class="text-center text-light mb-n4">{{saludo}}</p><br>
    <p id="saludo2" class="text-center text-light mb-n4">entre 2017-02-23 y 2018-10-24 porfavor.</p>

    <form id="formFecha" class="px-5 m-5 align-items-center">
        <div class="container text-center">
            <div class="row row-cols-2 text-center">
                <div class="col">
                    <div class="col-16 m-auto py-2">
                        <label for="desde" class="text-light">Desde</label>
                        <input type="date" class="form-control" id="desde" min="2017-02-23" max="2018-10-24"placeholder="2017-02-25" required>
                    </div>
                </div>

                <div class="col">
                    <div class="col-16 m-auto py-2">
                        <label for="hasta" class="text-light">Hasta</label>
                        <input type="date" class="form-control" id="hasta" min="2017-02-23" max="2018-10-24"placeholder="2017-03-27" required>
                    </div>
                </div>

            </div>

            <div class="col m-auto py-2 text-center">
                <button id="submitanaLisis" type="button" class="btn btn-primary"
                    onclick="analizar()">Analizar</button>
                    
            </div>
        </div>
    </form>
</div>
<button id="otraBusqueda" type="button" class="btn btn-primary text-center m-auto my-5"
onclick="window.location.reload(true)" style="display: none;">Otra Busqueda</button>
<p id="burritoDeCarga" class="font-italic text-center text-light"></p>


<router-outlet></router-outlet>
